fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
langchain
langchain-openai
langchain-community
openai
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv
apscheduler
pydantic
pydantic-settings
python-multipart
